.page-header{
    padding: 20px 0px;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-start;
    // align-content: flex-start;
    border-bottom: 1px solid #ccc;
    .page-header__logo{
        img {
            width: 80px;
            height: 80px;
        }
        
    }
    .page-header__right {
        // margin-top: 0;
        margin-left: 20px;
        .page-header__title{
            display: flex !important;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            h2{
                margin: 0px;
                color: rgb(102, 102, 102);
                font-weight: 600;
            }
            button {
                margin-left: 20px;
                // padding: 5px 20px;
                background-color: #29d2bf;
                color: #fff;
                border: none;
                // border-radius: 5px
            }
        }

        .page-header__content {
            p {
                margin: 8px 0px;
                color: rgb(102, 102, 102);
                font-size:16px;
                font-weight: 400;
            }
        }
        
    }

    
}
// .page-header__hr {
//     display: block;
// clear: both;
// width: 100%;
// min-width: 100%;
// height: 1px;
// margin: 24px 0;
// background-color: rgb(102, 102, 102);
// }